In [24]:
from sys import executable
!{executable} -m pip install pandas tqdm

Requirement already satisfied: pandas in /usr/local/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/site-packages (4.46.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/site-packages (from pandas) (1.18.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/protobuf/3.11.4/libexec/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [9]:
import pandas as pd
from tqdm.notebook import tqdm

In [19]:
df = pd.read_csv('Data_test.csv', sep=';')

In [20]:
df.head()

    first_num  second_num  i
0  9000000000  9000000300  1
1  9000062000  9000062300  2
2  9000063000  9000099999  3
3  9000100000  9000199999  4
4  9000200000  9000299999  5

In [23]:
with open("output.csv", "w") as file:
    for (first_number, second_number) in tqdm(zip(df['first_num'], df['second_num'])):
        for phone in range(first_number, second_number + 1):
            file.write(str(phone))
            file.write('\n')

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))